@model IEnumerable<KLTN.Models.Database.GoiTap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenGoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenGoiTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiHanThang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLanTapToiDa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhuyenMai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenGoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenGoiTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiHanThang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLanTapToiDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhuyenMai.TenKM)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGoi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaGoi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGoi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
