@model IEnumerable<KLTN.Models.Database.DangKy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoBuoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachVangLai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoiTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoBuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhVien.MaTV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachVangLai.MaKVL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoiTap.TenGoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopHoc.NgayTrongTuan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDangKy">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDangKy">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDangKy">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
