@model IEnumerable<KLTN.Models.Database.PhienTap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachVangLai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HuanLuyenVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhVien.MaTV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachVangLai.MaKVL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuanLuyenVien.MaPT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
