@model IEnumerable<KLTN.Models.Database.GiaHanDangKy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThucMoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoBuoiThem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGiaHan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThucMoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoBuoiThem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiaHan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangKy.LoaiDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiThu.MatKhauHash)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGiaHan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaGiaHan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGiaHan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
