@model KLTN.Models.Database.PT_GoiTap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PT_GoiTap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramHoaHong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTramHoaHong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HuanLuyenVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HuanLuyenVien.MaPT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoiTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoiTap.TenGoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaPT_GoiTap">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
