@model KLTN.Models.Database.GiaHanDangKy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GiaHanDangKy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThucMoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThucMoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoBuoiThem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoBuoiThem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiaHan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiaHan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DangKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DangKy.LoaiDangKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiThu.MatKhauHash)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaGiaHan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
